<section class="todoapp">
  <header class="header">
    <h1>Contacts</h1>
    <input class="new-todo" placeholder="Contact Name" autofocus="" [(ngModel)]="newPerson.name" (keyup.enter)="addPerson()">
  </header>
  <section class="main" >
    <ul class="todo-list">
      <li *ngFor="let person of people" >
        <div class="view">
            <!--
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
            -->
          <label>{{person.name}}</label>
          <button class="destroy" (click)="deletePerson(person)"></button>
        </div>
      </li>
    </ul>
  </section>
</section>
